# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCWMiJJccC6rTPsR7mKFV5olMzgVUqdqMk
VITE_FIREBASE_AUTH_DOMAIN=multi-lingo-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=multi-lingo-ai
VITE_FIREBASE_STORAGE_BUCKET=multi-lingo-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=726375056502
VITE_FIREBASE_APP_ID=1:726375056502:web:7e61daee76e9760f0a0b57

# Proxy URL
VITE_PROXY_URL=https://multi-lingo-ai-api.vercel.app